.loader {
  position: absolute !important;
  top: 40% !important;
  left: 47% !important;
}

div.toast {
  background: lightblue;
  color: white;
}

.btn-extended {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.login {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}